.result-list {
  flex-grow: 1;
}

.sorting-label {
  color: rgba(0,0,0,.5);
  font-size: 14px;
}

.sorting-selector {
  display: block;
  border: none;
  background-color: #eee;
  margin-bottom: .5rem;
  font-size: 14px;
}