<div class="d-flex flex-column justify-content-center align-items-center mb-3">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column mb-1" [class.flex-md-row]="!vertical" >
      
      <!-- ONE WAY OR ROUND TRIP INPUT -->
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-outline-secondary" [ngClass]="{'pressed': selectedRoundTrip , 'un-pressed': !selectedRoundTrip}">
          <input type="radio" 
                 value="roundTrip"
                 autocomplete="off"
                 checked
                 (click)="onClickRoundTrip()">Round Trip
        </label>
        <label class="btn btn-outline-secondary" [ngClass]="{'pressed': selectedOneWay , 'un-pressed': !selectedOneWay}">
          <input type="radio" 
                 value="oneWay" 
                 autocomplete="off"
                 (click)="onClickOneWay()">One Way
        </label>
      </div>

      <!-- TRAVELLERS INPUT -->
      <div class="d-flex">
        <button type="button"
              class="top-select" [style.text-align]="vertical ? 'left' : 'center'"
              [ngbPopover]="popContentTravellers" [autoClose]="'outside'" placement="bottom">
              {{totalTravellers | i18nPlural: travellerPluralMapping}}
              <fa-icon icon="angle-down" size="xs"></fa-icon>
        </button>
        <ng-template #popContentTravellers>
          <div class="d-flex flex-column">
            <div class= "d-flex justify-content-between travellers-input" 
                *ngFor="let travellerType of travellerTypes | keyvalue">
              <div class="travellers-input-label">
                <label [for]="travellerType.key">{{ travellerType.value.label }}</label>
                <span class="travellers-input-age">{{ travellerType.value.ageRange }}</span>
              </div>
              <div>
                <button type="button" class="number-input-button" (click)="decrementTravellers(travellerType.key)">
                  <fa-icon icon="minus"></fa-icon>
                </button>
                <input class="travellers-input-number"
                type="text"
                [id]="travellerType.key"
                readonly
                [formControlName]="travellerType.key">
                <button type="button" class="number-input-button" (click)="incrementTravellers(travellerType.key)">
                  <fa-icon icon="plus"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <!-- CABIN CLASS INPUT -->
      <div class="d-flex">
        <button type="button" 
              class="top-select" [style.text-align]="vertical ? 'left' : 'center'"
              [ngbPopover]="popContentClass" placement="bottom">
              {{ cabinClasses[selectedClass] }}
              <fa-icon icon="angle-down" size="xs"></fa-icon>
        </button>
        <ng-template #popContentClass>
          <div class="d-flex flex-column">
            <button type="button" class="list-group-item list-group-item-action" 
                    *ngFor="let cabinClass of keys(cabinClasses)"
                    (click)="onSelectClass(cabinClass)"
                    [value]="cabinClass">{{ cabinClasses[cabinClass] }}</button>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="d-flex flex-column ml-0" [class.flex-sm-column]="!vertical" [class.flex-md-row]="!vertical">
      
      <!-- ORIGIN INPUT -->
      <input type="text" 
            id="origin" 
            formControlName="origin"
            autocomplete="off"
            class="form-control form-control-lg"
            placeholder="Origin"
            (input)="onOriginChange($event.target.value)"
            [ngbPopover]="popOriginSugestions" [popoverTitle]="popTitle" placement="bottom"
            [class.mb-2]="vertical"
            [class.not-vertical]="!vertical">
        
      <ng-template #popOriginSugestions>
        <div *ngIf="!originTooSmall; else noSuggestions" class="list-group">
          <button type="button" class="list-group-item list-group-item-action" 
                  *ngFor="let place of originSuggestions"
                  (click)="onSelectOrigin($event.target.value, $event.target.textContent)"
                  [value]="place.PlaceId">{{ place.PlaceName }}, {{ place.CountryName }}</button>
        </div>
        <ng-template #noSuggestions>
          <p>Enter at least 3 letters and wait for the results</p>
        </ng-template>
      </ng-template>
      <ng-template #popTitle>
        Suggestions
      </ng-template>
      
      <!-- DESTINATION INPUT -->
      <input type="text" 
             id="destination" 
             formControlName="destination"
             autocomplete="off"
             class="form-control form-control-lg"
             placeholder="Destination"
             (input)="onDestinationChange($event.target.value)"
             [ngbPopover]="popDestinationSugestions" [popoverTitle]="popTitle" placement="bottom"
             [class.mb-2]="vertical"
             [class.not-vertical]="!vertical">
      <ng-template #popDestinationSugestions>
        <div *ngIf="!destinationTooSmall; else noSuggestions" class="list-group">
          <button type="button" class="list-group-item list-group-item-action" 
            *ngFor="let place of destinationSuggestions"
            (click)="onSelectDestination($event.target.value, $event.target.textContent)"
            [value]="place.PlaceId">{{ place.PlaceName }}, {{ place.CountryName }}</button>
        </div>
        <ng-template #noSuggestions>
          <p>Enter at least 3 letters and wait for the results</p>
        </ng-template>
      </ng-template>
      <ng-template #popTitle>
        Suggestions
      </ng-template>

      <!-- DATE INPUT -->
      <div class="d-flex"
           [class.mb-2]="vertical"
           formGroupName="dates"
           [ngbPopover]="popDatePicker" placement="bottom" [autoClose]="'outside'" 
           triggers="manual" #pdp="ngbPopover">

        <input id="fromDate"
              class="form-control form-control-lg"
              placeholder="yyyy-mm-dd" 
              autocomplete="off"
              formControlName='fromDate'
              (click)="toggleDatePicker(pdp, 'from')"
              [class.date-width]="!vertical"
              [class.not-vertical]="vertical"
              [class.not-rounded]="!vertical"
              ngbDatepicker>
        
        <input id="toDate"
              class="form-control form-control-lg"
              placeholder="yyyy-mm-dd" 
              autocomplete="off"
              formControlName="toDate"
              (click)="toggleDatePicker(pdp, 'to')"
              [class.date-width]="!vertical"
              [class.not-vertical]="vertical"
              [class.not-rounded]="!vertical"
              ngbDatepicker>
              
        <ng-template #popDatePicker let-caller="caller" class="d-flex flex-column">
          <ngb-datepicker ngbDatepicker
                          [displayMonths]="displayMonths" 
                          [navigation]="'select'" 
                          [dayTemplate]="t"
                          [outsideDays]="'hidden'"
                          [startDate]="fromDate"
                          [markDisabled]="isOutside"
                          (select)="onDateSelection(pdp, $event)">
          </ngb-datepicker>
          <div *ngIf="!searchForm.controls.dates.valid" class="alert alert-danger mt-2 mb-0">The search interval should be<br *ngIf="vertical"> less than 3 months</div>
        </ng-template>
      
        <ng-template #t let-date let-focused="focused" let-disabled="disabled">
          <span class="custom-day"
                [class.focused]="focused"
                [class.outside]="disabled"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="onDateHoveredIn(date)"
                (mouseleave)="onDateHoveredOut()">
                {{ date.day }}
          </span>
        </ng-template>

      </div>
       
      <!-- STARTING DAY INPUT -->
      <select class="form-control form-control-lg"
              [class.custom-select]="!vertical"
              [class.custom-select-lg]="!vertical"
              [class.not-vertical]="!vertical"
              [class.mb-2]="vertical"
              [class.starting-day-width]="!vertical"
              id="startingDay"
              formControlName="startingDay"
              data-toggle="tooltip" data-placement="bottom" title="The starting day of your trip">
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="0">Sunday</option>
      </select>

      <!-- DURATION INPUT -->
      <ng-template [ngIf]="selectedRoundTrip">
        <select class="form-control form-control-lg"
                [class.custom-select]="!vertical"
                [class.custom-select-lg]="!vertical"
                [class.not-vertical]="!vertical"
                [class.mb-2]="vertical"
                [class.duration-width]="!vertical"
                id="duration"
                formControlName="duration"
                data-toggle="tooltip" data-placement="bottom" title="The duration of your trip in days">
          <option *ngFor="let n of arrayDurationDays(30)" value="{{n+1}}">{{n+1}}</option>
        </select>
      </ng-template>

      <button type="submit" 
              class="btn btn-primary" 
              [class.btn-lg]="vertical"
              [class.btn-block]="vertical"
              [class.not-vertical]="!vertical"
              [disabled]="!searchForm.valid">Search</button>
    </div>
  </form>
</div>