.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-radius {
  border-radius: 0em;
  border-right-width: 0em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
}

.left-corner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0em;
}

.right-corner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

select {
  background-image: url("https://image.flaticon.com/icons/svg/60/60781.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 13px;
}
