.pressed {
  background-color: #6c757d;
  color: #fff;
}

.un-pressed {
  background-color: #fff;
  color: #6c757d ;
}

/* .form-control {
  border-color: #DD5C29;
}

.custom-select {
  border-color: #DD5C29;
} */
