<div class="d-flex flex-column justify-content-center align-items-center">
  <form>
    <div class="d-flex flex-row mb-1">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active">
          <input type="radio" name="roundTripOrOneWay" id="roundTrip" autocomplete="off" checked>Round Trip
        </label>
        <label class="btn btn-outline-secondary">
          <input type="radio" name="roundTripOrOneWay" id="oneWay" autocomplete="off">One Way
        </label>
      </div>
      <!-- <div class="form-check form-check-inline mr-0">
        <button class="form-check-input btn btn-outline-secondary btn-lg border-0" type="radio"
                name="roundTripOrOneWay" id="roundTrip" value="roundTrip">
          Round Trip
        </button>
        <input class="form-check-input" type="radio" name="roundTripOrOneWay" id="roundTrip" value="roundTrip">
        <label class="form-check-label" for="roundTrip">Round trip</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="roundTripOrOneWay" id="oneWay" value="oneWay">
        <label class="form-check-label" for="oneWay">One way</label>
      </div> -->
    </div>
    <div class="d-inline-flex flex-column flex-md-row form-row ml-0">
      <div class="d-flex col-12 col-md-3 px-0">
        <input type="text" id="origin" class="form-control form-control-lg left-corner" placeholder="Origin">
      </div>
      <div class="d-flex col-12 col-md-3 px-0">
        <input type="text" id="destination" class="form-control form-control-lg no-radius" placeholder="Destination">
      </div>
      <!-- <div class="col-md-1 nopadding">
        <input type="text" id="outboundDate" name="outboundDate" class="form-control" 
                placeholder="yyyy-mm-dd" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
        </div>
      </div>
      <div class="col-md-1 nopadding">
        <input type="text" id="inboundDate" name="inboundDate" class="form-control" 
                placeholder="yyyy-mm-dd" [(ngModel)]="model" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
        </div>
      </div> -->
      <div class="d-flex col-12 col-md-3 px-0">
        <select class="form-control form-control-lg no-radius" id="startingDay">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option selected value="friday">Friday</option>
          <option value="saturday">Saturday</option>
          <option value="sunday">Sunday</option>
        </select>
      </div>
      <div class="d-flex col-12-col-md-2 px-0">
        <select class="form-control form-control-lg no-radius" id="duration">
          <option selected>Days</option>
          <option *ngFor="let n of arrayDurationDays(30)" value="{{n+1}}">{{n+1}}</option>
        </select>
      </div>
      <div class="d-flex col-12 col-md-1 px-0">
        <button type="submit" class="btn btn-secondary btn-lg right-corner">Search</button>
      </div>
    </div>
  </form>
</div>