.pressed {
  background-color: #6c757d;
  color: #fff;
}

.un-pressed {
  background-color: #fff;
  color: #6c757d ;
}

.number-input-button {
  color: black;
  font-size: 0.65em!important;
}

.top-select {
  border: none;
  background-color: #eee;
  min-width: 120px;
}

.travellers-input {

}

.travellers-input-label {
  display: inline-block;
}

.travellers-input-age {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 20px;
  color: #92aabb;
}

.travellers-input-number {
  width: 30px;
  font-size: 100%;
  margin: 0;
  border: none;
  text-align: center;
}

/* .form-control {
  border-color: #DD5C29;
}

.custom-select {
  border-color: #DD5C29;
} */

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.custom-day.outside, .custom-day.outside:hover {
  background-color: white;
  color: #212529;
  opacity: .5;
}

.starting-day-width {
  width: 130px;
}

.duration-width {
  width: 70px;
}

.date-width {
  width: 150px;
}

.not-vertical:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.not-vertical:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.not-rounded {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: -1px;
}
