<div class="d-flex flex-column justify-content-center align-items-center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <!-- <div class="d-flex flex-row mb-1">
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-outline-secondary" [ngClass]="{'pressed': selectedRoundTrip , 'un-pressed': !selectedRoundTrip}">
          <input type="radio" 
                 value="roundTrip"
                 autocomplete="off"
                 name="roundTripOrOneWay"
                 ngModel
                 checked
                 (click)="onClickRoundTrip()">Round Trip
        </label>
        <label class="btn btn-outline-secondary" [ngClass]="{'pressed': selectedOneWay , 'un-pressed': !selectedOneWay}">
          <input type="radio" 
                 value="oneWay" 
                 autocomplete="off"
                 name="roundTripOrOneWay" 
                 ngModel
                 (click)="onClickOneWay()">One Way
        </label>
      </div>
    </div> -->
    <div class="d-flex flex-column ml-0" [class.flex-sm-column]="!vertical" [class.flex-md-row]="!vertical">
      <div class="d-flex col-12 px-0" [class.col-md-3]="!vertical" [class.my-2]="vertical">
        <a [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="bottom">
          <input type="text" 
                id="origin" 
                class="form-control form-control-lg" 
                [class.left-corner]="!vertical" 
                placeholder="Origin"
                ngModel
                name="origin"
                required
                (input)="onOriginChange($event.target.value)">
        </a>
        <ng-template #popContent>
          <div *ngIf="!originTooSmall; else noSuggestions" class="list-group">
            <button type="button" class="list-group-item list-group-item-action" 
                    *ngFor="let place of originSuggestions"
                    (click)="selectedOrigin($event.target.value, $event.target.textContent)"
                    [value]="place.PlaceId">{{ place.PlaceName }}, {{ place.CountryName }}</button>
          </div>
          <ng-template #noSuggestions>
            <p>Enter at least 3 letters and wait for the results</p>
          </ng-template>
        </ng-template>
        <ng-template #popTitle>
          Suggestions
        </ng-template>
      </div>
      
      <ng-template [ngIf]="selectedRoundTrip">
        <div class="d-flex col-12 px-0" [class.col-md-3]="!vertical" [class.mb-2]="vertical">
          <a [ngbPopover]="popContent2" [popoverTitle]="popTitle" placement="bottom">
            <input type="text" 
            id="destination" 
            class="form-control form-control-lg" 
            [class.no-radius]="!vertical" 
            placeholder="Destination"
            ngModel
            name="destination"
            required
            (input)="onDestinationChange($event.target.value)">
          </a>
          <ng-template #popContent2>
            <div *ngIf="!destinationTooSmall; else noSuggestions" class="list-group">
              <button type="button" class="list-group-item list-group-item-action" 
              *ngFor="let place of destinationSuggestions"
              (click)="selectedDestination($event.target.value, $event.target.textContent)"
              [value]="place.PlaceId">{{ place.PlaceName }}}, {{ place.CountryName }}</button>
            </div>
            <ng-template #noSuggestions>
              <p>Enter at least 3 letters and wait for the results</p>
            </ng-template>
          </ng-template>
          <ng-template #popTitle>
            Suggestions
          </ng-template>
        </div>
      </ng-template>
        <!-- <div class="col-md-1 nopadding">
        <input type="text" id="outboundDate" name="outboundDate" class="form-control" 
                placeholder="yyyy-mm-dd" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
        </div>
      </div>
      <div class="col-md-1 nopadding">
        <input type="text" id="inboundDate" name="inboundDate" class="form-control" 
                placeholder="yyyy-mm-dd" [(ngModel)]="model" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
        </div>
      </div> -->
      <div class="d-flex col-12 px-0" [class.col-md-3]="!vertical" [class.mb-2]="vertical">
        <select class="form-control form-control-lg" 
                id="startingDay" 
                [class.no-radius]="!vertical"
                [ngModel]="defaultStartingDay"
                name="startingDay"
                required>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="7">Sunday</option>
        </select>
      </div>
      <ng-template [ngIf]="selectedRoundTrip">
        <div class="d-flex col-12 px-0" [class.col-md-2]="!vertical" [class.mb-2]="vertical">
          <select class="form-control form-control-lg" 
          [class.no-radius]="!vertical" 
          id="duration"
          [ngModel]="defaultDuration"
          name="duration"
          required>
          <!-- <option selected>Days</option> -->
          <option *ngFor="let n of arrayDurationDays(30)" value="{{n+1}}">{{n+1}}</option>
        </select>
      </div>
    </ng-template>
      <div class="d-flex col-12 px-0" [class.col-md-1]="!vertical">
        <button type="submit" 
                class="btn btn-secondary btn-lg" 
                [class.right-corner]="!vertical"
                [disabled]="!f.valid">Search</button>
      </div>
    </div>
  </form>
</div>