/* You can add global styles to this file, and also import other style files */
html, body { 
  height: 100%;
  background: #eee; 
}

.btn-primary {
  background-color: #DD5C29;
  border-color: #DD5C29;
}

.btn-primary:disabled {
  background-color: #EAB96C;
  border-color: #EAB96C;
}

.btn-primary:hover {
  background-color: #DD5C29;
  border-color: #DD5C29;
}

.popover-bigger-width {
  max-width: 1000px!important;
}